body{
font-family: Arial;
background:#1f2937;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:white;
padding:30px;
border-radius:10px;
width:350px;
text-align:center;
}

.output-box{
display:flex;
margin-bottom:15px;
}

.output-box input{
flex:1;
padding:10px;
font-size:16px;
}

.output-box button{
padding:10px;
cursor:pointer;
}

.options{
text-align:left;
margin:15px 0;
}

.options label{
display:block;
margin:5px 0;
}

.generate{
width:100%;
padding:12px;
background:#2563eb;
color:white;
border:none;
cursor:pointer;
font-size:16px;
}

#strength{
margin-top:10px;
font-weight:bold;
}